<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "bg.jpg" %>');">
  <div class="banner-content">
    <h1>Cool products, every day.</h1>
    <p>Find creative and innovative products</p>
  </div>
  </div>

  <h3 class="text-center"><%= @today = Date.today.strftime("%d %b %Y") %></h3>


<div class="container">
  <div class="row">

    <div class="col-xs-10 col-sm-4">

    <% @products.each do |product| %>

    <%= link_to product_path(product) do %>
    <img src="http://unsplash.it/360/225?random" alt="kudoz">
    <% end %>


     <div class="product">
      <div class='product-upvote'>
        <div class="product-arrow"></div>
        <div class='product-count'>95</div>
     </div>

    <div class='product-body'>
    <h3><%= link_to product.name, product_path(product) %></h3>
    <p><%= product.tagline %></p>
    </div>

   <% end >

  </div>

  </div>


