<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class ="text-center">All products</h1>

<!--<p><%= link_to "Accueil", root_path, class: "btn btn-primary" %></p>-->


        <% @products.each do |product| %>
          <!--<li>
          <%= link_to product.name, product_path(product) %>
          (<%= product.url %>)
          <%= link_to "editer", edit_product_path(product) %>
          <%= link_to "delete", product_path(product), method: :delete %>
          </li>-->

          <div class="product">
            <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'>95</div>
          </div>
          <img src="http://unsplash.it/300/200?random" alt="kudoz" class="product-image hidden-xs">
          <div class='product-body'>
          <h3><%= link_to product.name, product_path(product) %></h3>
          <p><%= product.tagline %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
          <%= link_to product_path(product) do %>
          <i class="fa fa-eye"></i>
          <% end %>
          </li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>
        </div>


          <% end %>



    </div>
  </div>
</div>



