<% meta title: "RushDaddy - Cool products, every day !", description: "RushDaddy surfaces the best creative and innovative products, every day." %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "bg.jpg" %>');">
  <div class="banner-content">
    <h1>Cool products, every day.</h1>
    <p>Find creative and innovative products</p>
  </div>
  </div>

<div class="container">
  <h3 class="products-by-date">

  <%= @today = Date.today.strftime("%d %b %Y") %></h3>

    <% @products.each_slice(3) do |products| %>
          <div class="row">
            <% products.each do |product| %>
                <div class="col-lg-4">

              <%= link_to product.url, target: "_blank" do %>

                <% if product.photo? %>
                  <%= cl_image_tag(product.photo.path, height: 250, width: 370, crop: :fill) %>
                <% else %>
                <img src="http://unsplash.it/370/250?random" alt="kudoz">
                <% end %>
              <% end %>

               <div class="product">

               <div class="upvote-container" id="product-<%= product.id %>">
                 <%= render 'upvotes/show', product: product %>
               </div>


          <div class='product-body'>
          <h3><%= link_to product.name, product.url, target: "_blank" %></h3>
          <p><%= product.tagline %></p>
          </div>

          <!--<ul class="list-inline product-controls hidden-sm hidden-xs">
            <li>
              <%= link_to product_path(product) do %>
              <i class="fa fa-eye"></i>
              <% end %>
          </li>

          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>-->

        </div>
      </div>
    <% end %>
  </div>
<div style="padding: 20px"></div>
<% end %>

</div>






