<% meta title: "#{@product.name} - RushDaddy", description: "#{@product.tagline}" %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @product.photo? ? cloudinary_url(@product.photo.path) : image_path("bg.jpg") %>');">
  <div class="banner-content">
    <h1><%= @product.name %></h1>
    <p><%= @product.tagline %>
    <span class="label label-default">
      <%= @product.category %>
    </span>
    </p>
    <p><%= link_to "Get it", @product.url, class: "btn btn-primary" %></p>


    <!--<% if @product.user %>
      <p>
        posted by <%= @product.user.email %>
      </p>
    <% end %>-->
  </div>
</div>
